@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba Projeme Hoşgeldin</h1>
    <!--Burada yönlendirme yaptım.-->
    <p>Buradan yaptığım Projeye gidebilirsin <a href="https://localhost:7130/CustomerOrders">Link Burada Gardaş</a>.</p>
</div>
